%h1
  = @user.profile.name

%p
  = @user.email

%p
  = @user.profile.bio

%p
  = link_to "Edit Profile", edit_user_path

%h2 Products You Like
%div.likes
  %ul
  - @user.likes.each do |like|
    %li
      %img{src: like.product.product_image_url(:thumb).to_s }
      %h3
      = like.product.name
