!!!
%html
  %head
    %title Pibble.co
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      .flash{:id => key}
        = value

    = render "shared/nav"
    .container
      = yield

    = render 'shared/footer'
